.card_movies{
    width: 13vw;
    height: 40vh;
    margin:0;
    /* background: linear-gradient( rgb(0, 174, 255, 0.1) 80%, #ffffff); */
    background: rgba(255, 230, 0, 0.253);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 0.8em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}