<section class="container_home">

    <img  class="img_home" src="./assets/images/fnd_home.png" alt="">

         <img  class="title" src="./assets/images/title3.png" alt="">    


    <div class="container-form" *ngIf='contain_log'>

        <form action="" [formGroup]="formLogin" >
               
                <input class="data-form" type="text" placeholder="Enter your nickname" formControlName="name">


                <button id="btn_login" type="button" [routerLink]="['/catalogue']"  [disabled]="formLogin.invalid" (click)="send()">Login</button>
        
        </form>

        



    </div>



</section>